/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
padding:0;
margin:0;
    /*background:#004b79; */
    background-size: cover;
   font-family: 'Monda', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
a{
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
a:hover{
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*--header start here--*/
/*--prices start here--*/
.price-grid {
   float: left;
    width: 23%;
    margin: 0% 2% -4% 0%;
}
.priceing-table h1 {
    font-size: 3em;
    color: #fff;
    text-align: center;
    margin:2em 0em;
}
.wthree {
    margin: 0% 0% 0% 0%;
}
.priceing-table-main {
    width:50%;
    margin: 129px auto;
    margin-left: 256px;
}
.prices-head h2 {
    font-size: 2em;
    color: #68AE00;
    margin:0em 0em 1em 0.4em;
    font-family: 'Carrois Gothic', sans-serif;
}
.price-list ul {
    padding: 0px;
    list-style: none;
}
.price-gd-top {
    background:#ecb412;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}
.price-gd-top1 {
    background:#27c24c;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}
.price-gd-top h4 {
    font-size: 1.8em;
    color: #fff;
    padding: 0.4em 1em;
    background:#d29d05;
    border-radius: 5px 5px 0px 0px;
}
.price-gd-top1 h4 {
    font-size: 1.8em;
    color: #fff;
    padding: 0.4em 1em;
    background:#1daa3f;
    border-radius: 5px 5px 0px 0px;
}
/*-- w3layouts --*/
.price-gd-top h3 {
    padding:0.2em 0em 0.1em 0em;
    font-size:2.5em;
    color: #fff;
}
.price-gd-top1 h3 {
    padding:0.2em 0em 0.1em 0em;
    font-size:2.5em;
    color: #fff;
}
.price-gd-top h5 {
    font-size: 1em;
    color: #fff;
    padding: 0.2em 0em 0.8em 0em;
}
.price-gd-top1 h5 {
    font-size: 1em;
    color: #fff;
    padding: 0.2em 0em 0.8em 0em;
}
.price-gd-bottom {
    background: #fff;
    text-align: center;
    padding: 1em 0em;
}
.price-gd-top.pric-clr2 h4 {
    background: #7d1e4a;
}
.price-gd-top.pric-clr2 {
    background:#96285b;
}
.price-selet.pric-sclr2 a {
    background: #7d1e4a;
}
.price-gd-top.pric-clr3 {
    background: #2d818a;
}
.price-gd-top.pric-clr3 h4 {
    background: #14646d;
}
.price-selet.pric-sclr3 a {
    background: #14646d;
}
.price-list ul li {
    padding: 0.5em 0em;
    font-size:0.9em;
    color: #545454;
}
.price-selet {
    padding: 1em 0em;
    text-align: center;
    background: #fff;
    border-radius: 0px 0px 5px 5px;
}
/*-- agileits --*/
.price-selet a {
    font-size: 1.1em;
    color: #fff;
    display: block;
}
.price-selet a {
    font-size: 0.9em;
    color: #ffffff;
    display: inline-block;
    padding: 0.5em 1.5em;
    background:#d29d05;
    border-radius: 3px;
}
.price-grid {
    margin-bottom: 3em;
}
.price-block {
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.price-block:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    z-index: 1;
}
a.popup-with-zoom-anim {
    outline: none;
}
#small-dialog h4 {
	margin: 10px 0;
	font-size:2em;
    color: #696766;
    font-family: 'Monda', sans-serif;
}

#small-dialog,#small-dialog1,#small-dialog2,#small-dialog3,#small-dialog4,#small-dialog5{
	background: white;
    padding: 10px 0 10px 0;
	text-align: left;
	max-width:500px;
	margin: 40px auto;
	position: relative;
	text-align: center;
	border: 8px solid #882352;
    height:410px;
    border-radius: 5px;
}
/*-- w3layouts --*/
/*---start-pricing-tabels-----*/
.payment-online-form-left{
}
form li {
	list-style: none;
}
form ul {
	padding:0;
}
h4.payment-head{
	font-size: 1.9em;
	color: #222222;
	padding: 0.5em 0;
	text-align: left;
    float: left;	
}
.payment-online-form-left span{
    vertical-align: sub;
	margin-right:7px;
}
.payment-online-form-left form{
	padding:0 6%;
}
.payment-online-form-left input[type="text"] {
    padding: 0.7em 1em;
    color: #6B6B6A;
    width: 94.5%;
    margin: 0.8em 0;
    border: 1px solid;
    outline: none;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    float: left;
    font-size: 0.9em;
    border-color:#696766;
    -webkit-appearance: none;
}
.payment-online-form-left input[type="password"]{
	padding: 0.7em 1em;
    color: #6B6B6A;
    width: 94.5%;
    margin: 0.8em 0;
    border: 1px solid;
    outline: none;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    float: left;
    font-size: 0.9em;
    border-color:#696766;
    -webkit-appearance: none;
}
span.checkbox1 {
    text-align: left;
    display: block;
}
/*--cheek box--*/
.remember-top{
 float:left;
}
.checkbox {
	margin-bottom: 4px;
	font-size: 1.2em;
	line-height: 27px;
	cursor: pointer;
}
.checkbox {
  position: relative;
  font-size: 0.95em;
  font-weight: normal;
  color:#797676;
  padding: 0em 0.5em 0em 2.5em;
}
.checkbox i {
    position: absolute;
    bottom:5px;
    left: 2px;
    display: block;
    width: 18px;
    height: 18px;
    outline: none;
    background: #fff;
    border:1px solid #2d818a;
}
.checkbox input + i:after {
	content: '';
	background: url("../images/tick.png") no-repeat 5px 5px;
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
/*-- agileits --*/
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox input:checked + i:after {
	opacity: 1;
}
/*---*/
.payment-online-form-left input[type="password"]:hover{
	border:1px solid #ecb412;
}
input#datepicker {
    padding:0.7em 1em 0.7em 1em;
}
.payment-online-form-left input[type="text"]:hover{
	border-color:#fa6e6f;
}
.text-box-dark{
}
.text-box-light{
	background: url(../images/calender.png) no-repeat 95% 50%;
	cursor:pointer;
	position: relative;
}
.payment-online-form-left ul li:first-child input[type="text"]{
	margin-right:0%;
}
.payment-online-form-left input[type="text"]:active, .payment-online-form-left input[type="text"]:hover {
    border-color:#ecb412;
    color:#6B6B6A;
}
.shoppong-pay-1{
	width: 32px;
	height: 32px;
	display: inline-block;
	background: url(../images/icon.png) no-repeat -111px -26px;
}
 /*-- w3layouts --*/
.payment{
	width: 32px;
	height: 32px;
	display: inline-block;
	background: url(../images/icon.png) no-repeat -154px -23px;
}
.payment-date-section{
	background: url(../images/calender.png) no-repeat #fff 50%;
}
.payment-sendbtns{
	float:right;
	margin:1.5em 0 0em;
}
.payment-sendbtns input[type="submit"]{
	background:#2d818a;
	padding:10px 25px;
	border: none;
	color: #FFF;
	cursor: pointer;
	font-size:0.95em;
	display: inline-block;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	outline:none;
	border-radius: 3px;
}
.payment-sendbtns input[type="submit"]:hover{
	color:#FFF;
	background:#882352;
}
a.order {
	background:#696766;
	padding: 10px 25px;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size:0.95em;
	display: inline-block;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-appearance: none;
	outline: none;
    text-decoration: none;
    border-radius: 3px;
}
a.order:hover{
	color:#fff;
	background:#68AE00;
}
.payment-sendbtns li{
	display:inline-block;
}
.payment-type li{
	display:inline-block;
}
.payment-online-form-right{
	background: #2B2937;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 4px solid #1A1822;
}
/*-----*/
.get-started{
	background:url(../images/get.jpg) no-repeat 0px 0px;
	min-height:400px;
	padding:8% 0 0 0;
	color:#fff;
	background-size:cover;
	text-align:center;
}
.get-started h4{
	font-size:1.5em;
	margin-bottom:1em;
	font-weight:400;
	padding:0;
}
.get-started h3{
	font-size:2.8em;
	font-weight:400;
	margin-bottom:1em;
	padding:0;
}
.get-started a{
	padding: 12px 18px;
	border: 1px solid #FF0426;
	font-size: 1.2em;
	color: #fff;
	outline: none;
	font-weight: 400;
	text-decoration:none;
	background: #f94877;
}
.get-started a:hover{
	background:transparent;
	border: 1px solid #f94877;
}
/*-----*/
.visa{
	display: inline-block;
	width: 32px;
	height: 32px;
	background:url(../images/icon.png) no-repeat -32px -28px;
}
.paypal{
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../images/icon.png) no-repeat -71px -26px;
}
.payment-online-form-right{
	float: right;
	width: 30%;
	background: #2B2937;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 4px solid #1A1822;
	padding-bottom: 2em;
}
.payment-online-form-right a:hover{
	color:#1ABC9C;
}
.payment-online-form-right ul li{
	display:block;
	padding: 0.5em;
}
.payment-online-form-right ul li a{
	color:#9095AA;
}
.payment-online-form-right h4{
	color: #FFF;
	font-size: 1em;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(144, 149, 170, 0.22);
	padding: 0.8em;
}
.payment-online-form-right ul {
	padding: 0px 1em;
}
.payment-online-form-right h5{
	color: #FFF;
	padding: 0.5em 0.8em 0.4em;
	font-size: 1em;
}
.payment-type {
	margin-top: 3%;
	text-align: left;
}
input[type=checkbox].css-checkbox3,input[type=checkbox].css-checkbox4,input[type=checkbox].css-checkbox5,input[type=checkbox].css-checkbox6{
	display: none;
}
input[type=checkbox].css-checkbox3 + label.css-label3 {
	height: 22px;
	width: 21px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 -38px;
	vertical-align: middle;
	cursor: pointer;
	background-image: url(../images/filter-bg.png);
}
input[type=checkbox].css-checkbox3:checked + label.css-label3 {
	background-position: 0px 0px;
}
input[type=checkbox].css-checkbox4 + label.css-label4 {
	height: 22px;
	width: 21px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 0px;
	vertical-align: middle;
	cursor: pointer;
	background-image: url(../images/filter-bg.png);
}
input[type=checkbox].css-checkbox4:checked + label.css-label4 {
	background-position: 0px -38px;
}
input[type=checkbox].css-checkbox5 + label.css-label5 {
	height: 22px;
	width: 21px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 -38px;
	vertical-align: middle;
	cursor: pointer;
	background-image: url(../images/filter-bg.png);
}
input[type=checkbox].css-checkbox5:checked + label.css-label5 {
	background-position: 0px 0px;
}
input[type=checkbox].css-checkbox6 + label.css-label6 {
	height: 22px;
	width: 21px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 0px;
	vertical-align: middle;
	cursor: pointer;
	background-image: url(../images/filter-bg.png);
}
input[type=checkbox].css-checkbox6:checked + label.css-label6 {
	background-position: 0px -38px;
}

/* start state */
.my-mfp-zoom-in #small-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready #small-dialog {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing #small-dialog {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}
/**
/* Magnific Popup CSS */
.mfp-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1042;
	overflow: hidden;
	position: fixed;
	background:#151515;
	opacity: 0.8;
	filter: alpha(opacity=80); }
.mfp-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1043;
	position: fixed;
	outline: none !important;
	-webkit-backface-visibility: hidden; }
.mfp-container {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }
.mfp-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle; }
.mfp-align-top .mfp-container:before {
	display: none; }
.mfp-content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;
	z-index: 1045; }
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
	width: 100%;
	cursor: auto; }
.mfp-ajax-cur {
	cursor: progress; }
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor: -moz-zoom-out;
	cursor: -webkit-zoom-out;
	cursor: zoom-out; }
.mfp-zoom {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in; 
}
.mfp-auto-cursor .mfp-content {
	cursor: auto; }
.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none; 
}
.mfp-loading.mfp-figure {
	display: none; }
.mfp-hide {
  display: none !important; 
}
.mfp-content iframe{
	width:100%;
	min-height:500px;
}
.mfp-preloader {
	color: #cccccc;
	position: absolute;
	top: 50%;
	width: auto;
	text-align: center;
	margin-top: -0.8em;
	left: 8px;
	right: 8px;
	z-index: 1044; 
}
.mfp-preloader a {
	color: #cccccc; 
}
.mfp-preloader a:hover {
	color: white; 
}
.mfp-s-ready .mfp-preloader {
	display: none; 
}
.mfp-s-error .mfp-content {
	display: none; 
}
button.mfp-close,button.mfp-arrow {
	overflow: visible;
	cursor: pointer;
	border: 0;
	background:#ecb412;
	-webkit-appearance: none;
	display: block;
	padding: 0;
	z-index: 1046; 
}
button::-moz-focus-inner {
	padding: 0;
	border: 0; 
}
.mfp-close {
    width: 35px;
    height: 35px;
    line-height: 17px;
    position: absolute;
    right: 0%;
    top:0%;
    text-decoration: none;
    text-align: center;
    color: white;
    font-style: normal;
    font-size: 28px;
    outline: none;
    padding: 0 !important;
}
.mfp-close:hover, .mfp-close:focus {
    opacity: 1; 
}
.mfp-close-btn-in .mfp-close {
	color:#FFFFFF;
    padding: 0 0 7px 0px;
}
.mfp-image-holder .mfp-close,.mfp-iframe-holder .mfp-close {
	color: white;
	right: -6px;
	text-align: right;
	padding-right: 6px;
	width: 100%; 
}
.image-top img{
	width:100%;
}
.image-top p{
	text-align: justify;
	padding:2% 0;
	font-size:15px;
}
.image-top h3 {
	font-size: 1.5em;
	font-weight: 500;
	margin: 16px 0px 0px 0px;
	color:#3F4244;
}
p.bottom {
	text-align: center;
	width: 70%;
	margin: 0 auto;
	padding: 15px 0;
	color: #999;
	font-size: 14px;
}
.clear{
	clear:both;
}
/*--pricing-grids--*/
/*--copy right start here--*/
.copy-rights p {
    font-size: 1em;
    color: #fff;
    text-align: center;
    line-height: 1.7em;
}
.copy-rights p a{
  color:#000; 
}
.copy-rights p a:hover{
  color: #fff; 
}
.copy-rights {
    padding:4em 0em 3em 0em;
}
.clear{
	clear:both;
}
/*--media quries start here--*/
@media(max-width:1440px){

}
@media(max-width:1366px){
.priceing-table-main {
    width: 80%;
}
.priceing-table h1 {
    font-size: 2.5em;
}
}
@media(max-width:1280px){

}
@media(max-width:1024px){
.priceing-table-main {
    width: 75%;
}
.priceing-table-main
{
	margin-left:0px !important;
}
.copy-rights {
    padding: 2em 0em 3em 0em;
}
}
@media(max-width:991px){

}
@media(max-width:768px){
.priceing-table-main {
    width: 90%;
}

.priceing-table-main
{
	margin-left:0px !important;
}
}
@media(max-width:736px){

}
@media(max-width:667px){

}
@media(max-width:640px){
.priceing-table-main {
    width: 95%;
}

.priceing-table-main
{
	margin-left:0px !important;
}
.price-gd-top h4 {
    font-size: 1.4em;
}
.price-gd-top h3 {
    padding: 0.2em 0em 0em 0em;
    font-size: 1.7em;
}
.price-gd-top h5 {
    font-size: 0.9em;
}
.priceing-table h1 {
    font-size: 2.2em;
}
.copy-rights {
    padding: 2em 0em 3em 0em;
}
.copy-rights p {
    font-size: 0.9em;
}
}
@media(max-width:568px){

}
@media(max-width:480px){
.price-grid {
    float: none;
    width: 80%;
    margin: 0% auto 0%;
}

.priceing-table-main
{
	margin-left:0px !important;
}
.price-grid {
    margin-bottom: 2em;
}
.priceing-table h1 {
    font-size: 1.8em;
}
.price-list ul li {
    padding: 0.4em 0em;
    font-size: 0.85em;
}
.payment-online-form-left input[type="text"] {
    width: 91.5%;
}
.payment-online-form-left input[type="password"] {
    width: 91.5%;
}
}
@media(max-width:414px){
.payment-online-form-left input[type="text"] {
    width: 90.5%;
}

.priceing-table-main
{
	margin-left:0px !important;
}
.payment-online-form-left input[type="password"] {
    width: 90.5%;
}
}
@media(max-width:320px){
.priceing-table h1 {
    font-size: 1.5em;
    margin:0.6em 0em 1.2em 0em;
}

.priceing-table-main
{
	margin-left:0px !important;
}
.price-gd-top h3 {
    font-size: 1.5em;
}
.price-gd-top h5 {
    font-size: 0.8em;
    padding: 0em 0em 0.8em 0em;
}
.price-grid {
    width: 86%;
}
.price-gd-bottom {
    padding: 0.5em 0em;
}
.price-list ul li {
    padding: 0.3em 0em;
    font-size: 0.8em;
}
.price-selet {
    padding: 0.7em 0em;
}
.price-selet a {
    font-size: 0.85em;
    padding: 0.3em 1em;
}
.copy-rights p {
    font-size: 0.8em;
}
.copy-rights {
    padding: 0.5em 0em 1.5em 0em;
}
}